page-editprofile {
    
            ion-content.content.content-md {
                background:#4d3f9c;
            }
        .svgs{
            height: 50px;
            width: 50px;
        }
        .toolbar-background.toolbar-background-md {
            background: transparent;
        }
        .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
            display: none;
        }
        .toolbar-title-md {
            text-align: center;
            margin-left: -1.3em;
            color: #fff;
        }
        .back-button.show-back-button {
            color: #fff;
        }
        .profilepic-bor {
            width: 130px;
            height: 130px;
            border-radius: 360px;
            border: 1px solid #6935b0;
            margin: 0 auto;
            position: relative;
            .profilepic {
                width: 100px;
                height: 100px;
                border-radius: 360px;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                margin: auto;
                right: 0;
            }
            
        }
        
        ion-label {
            color: #fff !important;
        }
        ion-item.item.item-block.item-md.item-input.item-label-floating {
            background: transparent;
            color: #fff;
            font-size: 16px;
        
        }
        .date .item-md{
            background: transparent !important;
            font-size: 18px;
            color: #fff;
        }
        ion-row.radio.row {
            margin-top: 1.5em;
            font-size: 18px;
            color: #fff;
        }
        .regis{
            text-align: center;
            width: 100%;
            .regisbtn {
                background: #7369fa;
                border-radius: 50px;
                height: 50px;
                margin-top: 2em;
                width: 91%;
                text-align: center;
            }
        }




        .dboard-userimg-div{
            background: linear-gradient(to right, #a070f8 0%, #657cfc 100%);
            width:100%;
            // height:217px;
            display: table;
            position: relative;
        }
        .dboard-userimg-div .userimg-grid{
            width:100%;
            // display: block;
            margin:0 auto;
            left:0;
            right:0;
            padding: 0 20px;
        }
    
        .userimg-roundplaceholder{
            width:90px;
            height:90px;
            border-radius: 50%;
            background-position: center !important;
            background-size: 50px 5px;
            margin: 0 auto;
            position: relative;
            img{
                width:100%;
                height:100%;
            }
        }
        .userimg-round{
            width:90px;
            height:90px;
            border-radius: 50%;
            // background: #ffffff url(../assets/images/user-shape.png);
            background-repeat: space !important;
            background-position: top !important;
            background-size: cover !important;
            overflow: hidden;
            margin: 0 auto;
            img{
                width:100%;
                height:100%;
            }
        }
    
        .overlay{
            position: absolute;
            top: 7px;
            right: -4px;
            background: #c5486e;;
            height: 27px;
            width: 27px;
            border-radius: 50%;
            text-align: center;
    
            button{
                vertical-align: top;
                height:27px;
                padding:0;
            }
    
            ion-icon{
              color:#ffffff;
              font-size: 15px;
              margin-left: 1px;
            }
        }
    
    }
    